*, *::before, *::after {
   box-sizing:border-box;
   padding:0;
   border:0;
   margin:0;
}

:root {
   --clr--dodgerblue:RGB(30, 144, 255);
   --border-clr:#B3B3B3;
   
   font-family:system Sans-Serif;
   font-size:62.5%;
}

body {
   background-color:var(--clr--dodgerblue);
   display:grid;
   font-size:1.6rem;
   min-height:100vh;
}

main {
   background-color:white;
   border-radius:20px;
   display:grid;
   grid-template-rows:repeat(2, auto);
   min-width:35rem;
   overflow:hidden;
   padding:2rem;
   place-self:center;
}

.display {
   border:1px solid var(--border-clr);
   padding:2rem;
   place-self: center;
   width:100%;
}

.display  * {
   text-align:right;
}

.display :first-child {
   font-weight:700;
   font-size:4rem;
}

.display :last-child {
   color:gray;
   font-weight:500;
   font-size:2.5rem;
}

.buttons-wrapper {
   background-color:var(--border-clr);
   border:1px solid var(--border-clr);
   border-top:0;
   gap:0.1rem;
   display:grid;
   grid-template-columns:repeat(4, 1fr);
}

button {
   font-size:1.6rem;
   padding:2.5rem;
}

.bg-clr-white { background-color: white; }

.bg-clr-blue {
   background-color:var(--clr--dodgerblue);
   color:white;
}

.clr-blue { color:var(--clr--dodgerblue); }
.clr-gray { color:gray; }

.span-2-row { grid-row: span 2; }


/* MOBILE */
@media (max-width:35rem) {
   main {
      border-radius:0;
      padding:0;
      width:100vw;
      height:100svh;
   }
   
   .display, .buttons-wrapper {
      border:0;
   }
   
   .buttons-wrapper {
      border-top:0.1rem solid var(--border-clr);
   }
}
